@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Pacifico&display=swap");

@theme {
  /* FONTS */
  --font-display: "Assistant", "serif";

  /* MAIN COLORS */
  --color-background: #020617;
  --color-main1: #0F172B;
  --color-main2: #1E293C;
  --color-main3: #324155;
  --color-main4: #91A2B6;

  /* NEUTRAL COLORS */
  --color-neutral0: #ffffff;
  --color-neutral500: #858585;
  --color-neutral1000: #000;

  /* NUANCES COLORS */
  --color-green1: #115F59;
  --color-green2: #13B8A7;
  --color-red1: #9F1339;
  --color-red2: #F4405F;
  --color-orange1: #845425;
  --color-orange2: #E5832C;
  --color-yellow1: #988928;
  --color-yellow2: #e1b131;
  --color-blue1: #1C2761;
  --color-blue2: #134DB8;
  --color-purple1: #380B5F;
  --color-purple2: #A558F5;

  /* ATTRIBUTES COLORS */
  --color-strength: #CB364D;
  --color-stamina: #E96745;
  --color-dexterity: #E7F49D;
  --color-speed: #FADE93;
  --color-vitality: #AF3769;
  --color-agility: #F2A867;
  --color-intelligence: #5C529E;
  --color-charisma: #D76FA9;
  --color-wisdom: #64B799;
  --color-perception: #448ABA;
  --color-focus: #B1DDA9;
  --color-willpower: #9BEAE7;
}

[data-theme="dark"] {
  /* MAIN COLORS */
  --color-background: #020617;
  --color-main1: #0F172B;
  --color-main2: #1E293C;
  --color-main3: #324155;
  --color-main4: #91A2B6;

  /* NEUTRAL COLORS */
  --color-neutral0: #ffffff;
  --color-neutral500: #858585;
  --color-neutral1000: #000000;

  /* NUANCES COLORS */
  --color-green1: #115F59;
  --color-green2: #13B8A7;
  --color-red1: #9F1339;
  --color-red2: #F4405F;
  --color-orange1: #845425;
  --color-orange2: #E5832C;
  --color-yellow1: #988928;
  --color-yellow2: #e1b131;
  --color-blue1: #1C2761;
  --color-blue2: #134DB8;
  --color-purple1: #380B5F;
  --color-purple2: #A558F5;

  /* ATTRIBUTES COLORS */
  --color-strength: #CB364D;
  --color-stamina: #E96745;
  --color-dexterity: #E7F49D;
  --color-speed: #FADE93;
  --color-vitality: #AF3769;
  --color-agility: #F2A867;
  --color-intelligence: #5C529E;
  --color-charisma: #D76FA9;
  --color-wisdom: #64B799;
  --color-perception: #448ABA;
  --color-focus: #B1DDA9;
  --color-willpower: #9BEAE7;
}

[data-theme="light"] {
  /* MAIN COLORS */
  --color-background: #f4f5f8;
  --color-main1: #e8e9ec;
  --color-main2: #dfe0e3;
  --color-main3: #ccced1;
  --color-main4: #86898c;

  /* NEUTRAL COLORS */
  --color-neutral0: #555454;
  --color-neutral500: #858585;
  --color-neutral1000: #9aa0a4;

  /* NUANCES COLORS */
  --color-green1: #6ea385;
  --color-green2: #298451;
  --color-red1: #c16363;
  --color-red2: #ae1b1b;
  --color-orange1: #e3b473;
  --color-orange2: #d0731d;
  --color-yellow1: #eee285;
  --color-yellow2: #e6b327;
  --color-blue1: #6e88a3;
  --color-blue2: #294a84;
  --color-purple1: #9e7bbc;
  --color-purple2: #833dce;

  /* ATTRIBUTES COLORS */
  --color-strength: #CB364D;
  --color-stamina: #E96745;
  --color-dexterity: #9bb21a;
  --color-speed: #efaf00;
  --color-vitality: #AF3769;
  --color-agility: #F2A867;
  --color-intelligence: #5C529E;
  --color-charisma: #D76FA9;
  --color-wisdom: #64B799;
  --color-perception: #448ABA;
  --color-focus: #48c931;
  --color-willpower: #27c3be;
}

body {
  @apply font-display;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@keyframes random-spin {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(30deg); }
  20% { transform: rotate(-25deg); }
  30% { transform: rotate(90deg); }
  40% { transform: rotate(-35deg); }
  50% { transform: rotate(20deg); }
  60% { transform: rotate(-15deg); }
  70% { transform: rotate(-90deg); }
  80% { transform: rotate(-5deg); }
  90% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

.animate-random {
  animation: random-spin 5s infinite ease-in-out;
}